<h1>Slideshow edit</h1>
  <%       
      @listImages = get_pictures_names
  %>
  <%=form_for @slideshow, url: { controller: 'slideshow', action: 'update' }, :html => {:style => 'text-align:left; margin-top:40px;'}  do |f| %>

   <div class="row">
      <div class="span6 offset3">
       <%= f.label :name, :style => 'width:100px; text-align:left;' %>
       <%= f.text_field :name %>
      </div>
   </div>
   <div class="row">
     <div class="span6 offset3" style="margin-top:20px; margin-bottom:10px;">
       <%= f.label :link, :style => 'width:100px; text-align:left;' %>
       <select style="width:179px;" id='slideshow_link' name='slideshow[link]'>
         <option></option>
         <% @listImages.each do |i| %>
           <% if(i.to_s == @slideshow.link.to_s)%>
                 <option selected><%= i %></option>
           <%else%>       
                 <option><%= i %></option>         
           <%end%>           
         <%end%>
         </select>
     </div>
  </div>
   
   <div class="row">
     <div class="span6 offset3">      
      <%= f.submit 'Save', :style => 'width:179px;' %>
     </div>
   </div>    

<%end%>
