<h2>List products</h2>   

<p style="text-align:left;"><%= link_to 'New', new_admin_path %></p>

<% if @products.empty?%>
   <label>No products</label>
<%else%>
   <table class='table' style="text-align:left;">
      <thead>
         <tr>
            <th>Name</th>
            <th>Overview</th>
            <th>Price</th>
            <th>Product type</th>
            <th>New</th>
            <th>Favorits</th>
            <th></th>
            <th></th>
            <th>Enable</th>
         </tr>
         </thead>
         <tbody>
            <%@products.each do |p|%>
               <tr>
                  <td><%= p.name %></td>
                  <td><%= p.overview %></td>
                  <td><%= p.price %></td>
                  <td><%= p.product_type %></td>
                  <td><%= p.new %></td>
                  <td><%= p.favorits %></td>
                  <td><%= link_to 'Edit', edit_admin_path(p.id) %></td>
                  <td><%= link_to "Delete", admin_delete_path(p.id) , method: :delete, data:{ confirm: "Are you sure?" }  %></td>
                  <td><%= check_box_tag(p.id.to_s, '', p.enable) %></td>                                                  
               </tr>
            <%end%>
         </tbody>
   
   </table>
<%end%>

<script>
   $(document).ready(function(){
      $("input[type='checkbox']").on('change', function(){      
         var product_enable = $(this).is(':checked');
         var product_id = $(this).attr('id');         
         $.ajax({
            type: "POST",
            url: "/admin/change_status",
            data: {id: product_id, enable: product_enable }
         });         
      });
   });

</script>
   

