<h2>Admin</h2>

<div class='container'>
       <ul class="nav navbar-nav">     
           <li><%= link_to "Product", admin_index_path %></li>
           <li><%= link_to "Slide show", slideshow_index_path %></li>
           <li><%= link_to "Gallary", picture_index_path %></li>
           <li><%= link_to "User", admin_menu_handler_path(:item => 'user') %></li>
           <li><%= link_to "Log out", account_logout_path, method: :delete %></li>
    </ul>
</div>

<hr style='magin-bottom:20px;margin-top:20px;border:solid 1px black;' />

