

<div style="background-color:#87B400; height:40px; width:100%; margin-top:50px;">
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav footer-nav-center">     
           <li><%= link_to "מרקים", product_index_path(:product_type => 'soups') %></li>
           <li><%= link_to "כריכים", product_index_path(:product_type => 'sandwiches') %></li>
           <li><%= link_to "סלטים קטני", product_index_path(:product_type => 'smallsalad') %></li>
           <li><%= link_to "סלטים גדולים", product_index_path(:product_type => 'bigsalad') %></li>
           <li><%= link_to "עמוד הבית", root_path %></li>
    </ul>
  </div>
</div>









