<div style="background-color:#229922; height:15px; width:100%"></div>
<div class="container">
<nav class="navbar navbar-custom navbar-static-top">
   <a class="navbar-brand navbar-right" href="#" >ביג בן בר סלטים</a>
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    
  </div>
  <div class="collapse navbar-collapse">
     <form class="navbar-form navbar-left" role="search" style="padding-left:0;">
      <div class="form-group">
        <input class="form-control" placeholder="חפש" type="text">
      </div>
       <button type="submit" class="btn btn-default">חפש</button> 
    </form>
    <ul class="nav navbar-nav">     
           <li><%= link_to "מרקים", soups_path %></li>
           <li><%= link_to "כריכים", sandwiches_path %></li>
           <li><%= link_to "סלטים קטני", smallsalad_index_path %></li>
           <li><%= link_to "סלטים גדולים", bigsalad_index_path %></li>
           <li class="active"><%= link_to "עמוד הבית", root_path %></li>
    </ul>
  </div>
</nav>
</div>
