<div style="background-color:#229922; height:15px; width:100%"></div>
<div class="container-fluid">
<div class='img-logo-top'>
 <%= image_tag 'logo-cipolla.png', id: 'imgLogo', class: "navbar-brand navbar-right" %>
 <div class="logo-bg-div"></div>
 </div>
<nav class="navbar navbar-custom navbar-static-top navbar-fixed-top" style=''>  
  <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <div class="sbox1">
      <span class="sbox1-header-logo">לה ציפולה</span>
      <div class="sbox1-container-tel-address">
        <span class="sbox1-adress-span">בית עובד 8 תל-אביב</span>
        <span class="sbox1-telephon-span">058-7-267676</span>
      </div>
   </div> 
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">    
    <ul class="nav navbar-nav top-bar-menu">   
           <li><%= link_to "איך מגיעים", contact_path %></li>
           <li><%= link_to "תמונות", gallery_path %></li>
           <li><%= link_to "תפריט", product_index_path %></li>
           <li class="active"><%= link_to "עמוד הבית", root_path %></li>
    </ul>
  </div>
</nav>
</div>
