<!DOCTYPE html>
<html style="direction:rtl;">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="user-scalable=no, width=device-width, maximum-scale=1, minimum-scale=1">
  <title><%= @productTitle %></title>
  
  <meta name="KeyWords" content="סלטים,כריכים,מרקים,שקשוקה,טוסטים,המבורגר צמחוני תל אביב,טבעוני,צמחוני,אוכל בריא,מסעדות,בר סלטים,ארוחת צהריים,ביזנס לאנצ,לזניה"/>
  
  <meta name='description' content='<%= yield_meta_tag(:description, @productDescription) %>' />
  
  <link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>  
</head>
<body>
   <div id='bgDiv' style="display:none;"></div>
<%= render 'layouts/header'%>
<div id="divContant" class="container-fluid" >
   <%= yield %>
</div>
<%= render 'layouts/footer' %>

<script src="https://yastatic.net/share2/share.js" async="async"></script>
<script>
  
	$(function(){
		var $gallery = $('.gallery a').simpleLightbox();
		console.log('loaded simple lightbox');
	});
	
	$(document).ready(function(){
	   $('.gallery a').click(function(event){
	     event.preventDefault(); 
	   });
	});

</script>   
</body> 
</html>

<script>

   function setBodyHeight(){
   
            try{
             //var h = ($("body").height()-397) + "px"; //((window.innerHeight)-397) + "px";
             //var h1 = ((window.innerHeight)-397) + "px";             
             var h3 = ($(document).height()-616) + "px";
             //var h4 = ($(window).height()-397) + "px";
                 
            $("#divContant").css("height", h3);
            
            //alert(h3 +", "+ h4);
      }
      catch(e){}
   
   }
   $(document).ready(function(){  
      $("meta[name='description']").attr("content", "<%= @productDescription %>");   
   });

</script>
